<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>hello world</h1>
	<ol>
	<li>Lombok</li>
	<ul>
	<li><a href="lombok/lombok1">lombok</a></li>
	<li><a href="lombok/lombok2">logger</a></li>
	</ul>
	
	<li>parameter</li>
	<ul>
		<li><a href="param/view1">Get 방식으로 paramter 전달</a></li>
		<li><a href="param/view2">Post 방식으로 paramter 전달</a></li>
		<li><a href="param/view3">Post 방식으로 paramter 전달(object)</a></li>
		<li><a href="param/param4?name=abc&age=30&phone=111">Get 방식으로 parameter 전달(queryString)</a></li>
		<li><a href="param/param5">Get 방식으로 parameter 전달(default)</a></li>
		<li><a href="param/model">Model 객체로 parameter 출력</a></li>
		<li><a href="param/view4">유효성 검사 -(validation)</a></li>
	</ul>
	<!-- session & cookie -->
		<li>session</li>
	<ul>
		<li><a href="session/session1">session 저장</a>
		<li><a href="session/session2">session 삭제</a>
		<li><a href="session/session3">session 읽기</a>
		<li>session.name:[[${session.name}]]</li>
		
		<li>session.loginId:[[${session.loginId}]]님이 접속중</li>
		<li><a href="session/login">login</a></li>
		<li><a href="session/logout">logout</a></li>
		<li><a href="session/loginTest">protected page</a></li>
		
	</ul>
	<li>cookie</li>
	<ul>
		<li><a href="cookie/cookie1">use cookie</a></li>
		<li><a href="cookie/cookie2">delete cookie</a></li>
		<li><a href="cookie/cookie3">read cookie</a></li>
	</ul>
	<li>실습예제1</li>
	<ul>
		<li><a href="ex/info">예제1</a>
		<li><a href="ex/cookie">에제2</a></li>
	</ul>
	
	<li> sessionStorage 와 localStorage 사용하기</li>
	<ul>
		<li><a href="storage/save">save</a></li>
		<li><a href="storage/read">read</a></li>
		<li><a href="storage/delete">delete</a></li>
	</ul>
	
	<li>실습 예제2</li>
	<ul>
		<li><a href="ex/darkmode">다크모드</a>
		<li><a href="ex/temp">임시저장</a>
	</ul>
	<li>thymelaaf</li>
	<ul>
		<li> <a href ="th/thymeleaf1">thymeleaf 1</a></li>
		<li> <a href ="th/thymeleaf2">thymeleaf 2</a></li>
	</ul>
	<li>실습 예제3</li>
	<ul>
		<li>
		<a href="ex/thymeleaf">타임리프 출력</a></li>
	</ul>
	
	</ol>
</body>
</html>